$max: 50;

@for $i from 1 through $max {
  * > .intro-x:nth-child(#{$i}) {
    z-index: #{$max - $i};
    opacity: 0;
    position: relative;
    transform: translateX(50px);
    animation: 0.4s intro-x-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: #{$i * 0.1}s;
  }
  * > .-intro-x:nth-child(#{$i}) {
    z-index: #{$max - $i};
    opacity: 0;
    position: relative;
    transform: translateX(-50px);
    animation: 0.4s intro-x-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: #{$i * 0.1}s;
  }
  * > .intro-y:nth-child(#{$i}) {
    z-index: #{$max - $i};
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: #{$i * 0.1}s;
  }
  * > .-intro-y:nth-child(#{$i}) {
    z-index: #{$max - $i};
    opacity: 0;
    position: relative;
    transform: translateY(-50px);
    animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: #{$i * 0.1}s;
  }
}

@keyframes intro-x-animation {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes intro-y-animation {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
